[workspace]
authors = ["denkiwakame <denkivvakame@gmail.com>"]
channels = ["conda-forge"]
name = "numpy-blas-bench"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
doctor = "python -c 'import numpy; print(numpy.__config__.show())'"
dot = "python -m timeit 'import numpy as np; A=np.random.rand(4096,4096); B=np.random.rand(4096,4096); A@B'"
vdot = "python -m timeit 'import numpy as np; a=np.random.rand(4096*128); b=np.random.rand(4096*128); np.dot(a,b)'"
svd = "python -m timeit 'import numpy as np; E=np.random.rand(2048,1024); np.linalg.svd(E, full_matrices=False)'"
cholesky = "python -m timeit 'import numpy as np; M=np.random.rand(2048,2048); M=M@M.T + 1e-6*np.eye(2048); np.linalg.cholesky(M)'"
eig = "python -m timeit 'import numpy as np; M=np.random.rand(2048,2048); M=(M+M.T)/2; np.linalg.eig(M)'"

[dependencies]
python = "==3.12"
pyyaml = ">=6.0.3,<7"

[feature.pypi.pypi-dependencies]
numpy = "*"

[feature.conda.dependencies]
numpy = "*" # build = *openblas

[feature.mkl.dependencies]
libblas = { version = "*", build = "*mkl" }

[feature.aocl.pypi-dependencies]
numpy = { path = "./amd/numpy-2.1.3-cp312-cp312-linux_x86_64.whl" }

[environments]
pypi = ["pypi"]
openblas = ["conda"]
mkl = ["conda", "mkl"]
aocl = ["aocl"]
